<form method="post">
    <p>
        <label>Name</label><br />
        <input type="text" name="Name" />
    </p>
    <p>
        <label>Age</label><br />
        <input type="number" name="Age" />
    </p> <p>
        <label>Home City</label><br />
        <input type="text" name="HomeCity" />
    </p>
    <p>
        <label>Pet Name</label><br />
        <input type="text" name="UserPetName" />
    </p>
    <p>
        <input type="submit" value="Send" />
    </p>
</form>
