@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Welcome<br>
        <br>
        <a class="nav-link text-dark" asp-area="" asp-controller="Hello" asp-action="Index">Hello world</a>
        <br>
        <a class="nav-link text-dark" asp-area="" asp-controller="People" asp-action="Index">People list</a>
    </h1>
</div>
