<form method="post">
    <p>
        <label>Id</label><br />
        <input type="number" name="Id" />
    </p>
    <p>
        <label>First transfer</label><br />
        <input type="number" name="transfer1" />
    </p>
    <p>
        <label>Second transfer</label><br />
        <input type="number" name="transfer2" />
    </p>
    <p>
        <input type="submit" value="Money Transfer" />
    </p>
</form>