
@{
    ViewData["Title"] = "Edit";
}

<br>

@if (TempData["Message"] != null)
{
        <h2>@TempData["Message"]</h2>
    <br>
}

@model User 

<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2>Edit some info</h2>
        </div>
        <div class="mb-3">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control"/>
        </div>
        <div class="mb-3">
            <label asp-for="Surname"></label>
            <input asp-for="Surname" class="form-control"/>
        </div>
        <div class="mb-3">
            <label asp-for="Job.Company"></label>
            <input asp-for="Job.Company" class="form-control"/>
        </div>
         <div class="mb-3">
            <label asp-for="Job.Location"></label>
            <input asp-for="Job.Location" class="form-control"/>
        </div>
         <div class="mb-3">
            <label asp-for="Job.Position"></label>
            <input asp-for="Job.Position" class="form-control"/>
        </div>
         <div class="mb-3">
            <label asp-for="UserInfo.Birthday"></label>
            <input asp-for="UserInfo.Birthday" class="form-control"/>
        </div>
         <div class="mb-3">
            <label asp-for="UserInfo.someInfo" asp-DisplayName="Info"></label>
            <input asp-for="UserInfo.someInfo" class="form-control"/>
        </div>
        <button type="submit" class="btn btn-primary">Edit</button>
        <a asp-asp-controller="User"asp-action="Index" class="btn btn-secondary">Back to all users</a>
    </div>

</form>