@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Program with conected tables from sql.</h1>
    <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Index">Users list</a>
    <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="UsersWithAllInfo">User whose info is in all tables</a>
</div>
