@model List<User> 
@{
    ViewData["Title"] = "All users";
}

<h2>Users</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Surname</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
                <tr>
                        <td>@item.Id</td>
                        <td>@item.Name</td>
                        <td>@item.Surname</td>
                </tr>
        }
    </tbody>
</table>